.paie {
    position: absolute;
    top: 0;
    left: 250px;
    width: 80%;
    height: 100vh;
  }
  
  .title-n {
    display: flex;
    align-items: center; 
    justify-content: center;   
    color: red !important;
    font-weight: bold;
    font-size: 36px;
    padding-top: 10px;
    font-family:'Times New Roman', Times, serif;
  }

  .mois {
    display: flex;
    align-items: center; 
    justify-content: center;
    padding-top: 10px;
  }
  
  .arround {
    margin: 10%;
    display: flex;
    align-items: center; 
    justify-content: center;   
    background-color: gray;
    color: white;
    border-radius: 10px;
    height: 50vh;
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .modalData{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    background-color: rgba(0, 0, 0, 0.5); 
  }
  
  .modal-content {
    background-color: red; 
    color: white; 
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }

  .modalData-body {
    max-height: 80%;
    overflow-y: auto;
    overflow-y: auto;
  }

  .modalData-content {
    background-color: white; 
    color: black; 
    padding: 20px;
    border-radius: 8px;
    text-align: left;
    max-height: 80%;
    overflow-x: auto;
  }
  
  .modal-header h2 {
    margin-top: 0;
  }
  
  .modal-footer {
    margin-top: 20px;
  }
  
  .modal-footer button {
    background-color: white;
    color: red;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button-validation {
    background-color: green;
    margin-left: 45%;
  }